<!DOCTYPE html>
<html lang="en">
<head>
    <title>Playing Memory</title>
    <link rel='stylesheet' href='/stylesheets/game.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
    <div class="left">
        <div class="grid">
            <% for (var i = 0; i < deck.length; i++) { %>
                <div class="card facedown" id="c<%= i %>"><%= i %></div>
            <% } %>
        </div>
    </div>
    <div class="right">
        Right
        <button id="btn">A button</button>
    </div>

    <script src="javascripts/interactions.js"></script>

</body>
</html>