<!DOCTYPE html>
<html lang="en">
<head>
    <title>Playing Memory</title>
    <link rel='stylesheet' href='/stylesheets/game.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
    <div class="left">
        <div class="grid">
            <div class="card facedown" id="c0"></div>
            <div class="card facedown" id="c1"></div>
            <div class="card facedown" id="c2"></div>
            <div class="card facedown" id="c3"></div>
            <div class="card facedown" id="c4"></div>
            <div class="card facedown" id="c5"></div>
            <div class="card facedown" id="c6"></div>
            <div class="card facedown" id="c7"></div>
            <div class="card facedown" id="c8"></div>
            <div class="card facedown" id="c9"></div>
            <div class="card facedown" id="c10"></div>
            <div class="card facedown" id="c11"></div>
            <div class="card facedown" id="c12"></div>
            <div class="card facedown" id="c13"></div>
            <div class="card facedown" id="c14"></div>
            <div class="card facedown" id="c15"></div>
        </div>
    </div>
    <div class="right">
        <div class="opponent">
            <p>Moves: <div class="opponentMoves">0</div></p>
            <p>Score: <div class="opponentScore">0</div></p>
        </div>

        <div class="me">
            <p>Moves: <div class="myMoves">0</div></p>
            <p>Score: <div class="myScore">0</div></p>
        </div>
    </div>

    <div class="status">Status: WAITING</div>

    <script src="javascripts/interactions.js"></script>

</body>
</html>