<!DOCTYPE html>
<html lang="en">
<head>
    <title>Memory Game</title>
    <link rel='stylesheet' href='/stylesheets/splash.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div class="container">
        <h1>Welcome to Memory</h1>
        <h2>Initialized games: <%= gamesInitialized %></h2>
        <h2>Aborted games: <%= gamesAborted %></h2>
        <h2>Completed games: <%= gamesCompleted %></h2>
        <form action="/play" method="get">
            <button type="submit">PLAY</button>
        </form>
    </div>
</body>
</html>

