* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: lightgray;
}

.left {
    background-color: salmon;
    float: left;
    width: 70%;
    height: 100%;
}

.right {
    height: 100%;
    background-color: green;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.card {
    width: 23%;
    height: 23%;
    margin: 5px;

    background-position: center;
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
}

.kim {
    background-image: url("../images/kim.jpeg");
}
.boris {
    background-image: url("../images/boris.jpeg");
}
.jinping {
    background-image: url("../images/jinping.jpeg");
}
.jonas {
    background-image: url("../images/jonas.jpeg");
}
.merkel {
    background-image: url("../images/merkel.jpeg");
}
.putin {
    background-image: url("../images/putin.jpeg");
}
.stalin {
    background-image: url("../images/stalin.jpeg");
}
.trump {
    background-image: url("../images/trump.jpeg");
}

.facedown {
    background-image: url("../images/tudelft.png");
}
